<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Zero1_ContactFormPlus::view_contacts" title="View Contacts" module="Zero1_ContactFormPlus" sortOrder="50" parent="Magento_Customer::customer" action="zero_one/ContactFormPlus" resource="Zero1_ContactFormPlus::view_contacts"/>
    </menu>
</config>
